name: Publish Package
on:
  workflow_dispatch:
    inputs:
      workspace_path:
        description: 'The workspace to publish'
        required: true
        type: choice
        options:
          - lib/shared/common
          - lib/shared/internal
          - lib/sdk/server
          - lib/java-server-sdk-otel
          - lib/java-server-sdk-redis-store
      prerelease:
        description: 'Is this a prerelease.'
        type: boolean
        required: true
      dry_run:
        description: 'Is this a dry run. If so no package will be published.'
        type: boolean
        required: true
      run_tests:
        description: 'If true, run unit tests, otherwise skip them.'
        type: boolean
        default: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v3

      - uses: launchdarkly/gh-actions/actions/release-secrets@release-secrets-v1.1.0
        name: Get secrets
        with:
          aws_assume_role: ${{ vars.AWS_ROLE_ARN }}
          ssm_parameter_pairs: '/production/common/releasing/sonatype/username = SONATYPE_USER_NAME,
          /production/common/releasing/sonatype/password = SONATYPE_PASSWORD,
          /production/common/releasing/android_code_signing/private_key_id = SIGNING_KEY_ID,
          /production/common/releasing/android_code_signing/private_key_passphrase = SIGNING_KEY_PASSPHRASE'
          s3_path_pairs: 'launchdarkly-releaser/android/code-signing-keyring.gpg = code-signing-keyring.gpg'

      - uses: ./.github/actions/full-release
        with:
          workspace_path: ${{ inputs.workspace_path }}
          dry_run: ${{ inputs.dry_run }}
          prerelease: ${{ inputs.prerelease }}
          signing_key_id: ${{ env.SIGNING_KEY_ID }}
          signing_key_passphrase: ${{ env.SIGNING_KEY_PASSPHRASE }}
          code_signing_keyring: ${{ github.workspace }}/code-signing-keyring.gpg
          sonatype_username: ${{ env.SONATYPE_USER_NAME }}
          sonatype_password: ${{ env.SONATYPE_PASSWORD }}
          aws_role: ${{ vars.AWS_ROLE_ARN }}
          token: ${{ secrets.GITHUB_TOKEN }}
